<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}kiritsu-sy{% endblock %}</title>
        
        <link href="{{ asset('css/geral.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <nav class="esquerdo">
            <div>
                <img src="{{ asset('img/caminho.png') }}" alt="Kanji da palavra caminho" id="logo" />
                <h1>Kiritsu*</h1>
            </div>

            <ul>
                <li>Agenda</li>
                <a href="/"><img src="{{ asset('img/olho.png') }}/img/olho.png" title="Visualizar" /></a>
                <a href="/agenda/cadastrar"><img src="{{ asset('img/mais.png') }}" title="Cadastrar" /></a>

                <li>Histórico</li>
                <a href="#"><img src="{{ asset('img/olho.png') }}" title="Visualizar" /></a>
                <a href="#"><img src="{{ asset('img/lupa.png') }}" title="Buscar" /></a>

                <li>Memória</li>
                <a href="#"><img src="{{ asset('img/olho.png') }}" title="Visualizar" /></a>
                <a href="#"><img src="{{ asset('img/mais.png') }}" title="Cadastrar" /></a>
                <a href="#"><img src="{{ asset('img/lupa.png') }}" title="Buscar" /></a>

                <li>Chuva</li>
                <a href="#"><img src="{{ asset('img/olho.png') }}" title="Visualizar" /></a>
                <a href="#"><img src="{{ asset('img/mais.png') }}" title="Cadastrar" /></a>
                <a href="#"><img src="{{ asset('img/grafico.png') }}" title="Visualizar gráfico" /></a>

                <li>Sair</li>
                <a href="/logout"><img src="/img/logout.png" /></a>
            </ul>

            <img src="/l/inspiracao/visualizar/1" alt="Foto de personalidade" title="Nome" id="inspiracao" />
        </nav>
        
        <section id="conteudo">
            {% block body %}{% endblock %}
        </section>
        
        <script src="{{ asset('js/Miti/Elemento.js') }}"></script>
        <script src="{{ asset('js/Miti/Formulario.js') }}"></script>
        
        <script>var mitiElemento = new MitiElemento; var mitiFormulario = new MitiFormulario;</script>
        
        {% block javascripts %}{% endblock %}
        
        <span id="test">Ok</span>
    </body>
</html>
