{% extends 'base.html.twig' %}

{% set title = 'Agenda > Cadastrar' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <table>
            <caption>{{ title }}</caption>
            
            <tbody>
                <tr>
                    <th>{{ form_label(form.categoria) }}</th>
                    <td>{{ form_widget(form.categoria) }} {{ form_errors(form.categoria) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <th>{{ form_label(form.atividade) }}</th>
                    <td>{{ form_widget(form.atividade) }} <div>{{ form_errors(form.atividade) }}</div></td>
                    <td id="agenda_atividade_miticontar" width="40"></td>
                </tr>

                <tr>
                    <th>{{ form_label(form.data) }}</th>
                    <td>{{ form_widget(form.data) }} {{ form_errors(form.data) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <th>{{ form_label(form.hora) }}</th>
                    <td>{{ form_widget(form.hora) }} {{ form_errors(form.hora) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <th>{{ form_label(form.periodico) }}</th>
                    <td>{{ form_widget(form.periodico) }} {{ form_errors(form.periodico) }}</td>
                    <td></td>
                </tr>
            </tbody>

            <tfoot><tr><td colspan="100">{{ form_widget(form.cadastrar) }}</td></tr></tfoot>
        </table>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        window.onload = function () {
            mitiFormulario.contar('agenda_atividade', 1000);
        };
    </script>
{% endblock %}
